.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;

  &.filled {
    opacity: 1;
  }
}

.js-form-error, .form-error, .has-errors {
  //border-left: 4px solid #b10e1e;
  //padding: 15px;
  //padding-top: 0;
  //padding-bottom: 0;
}

.js-form-error input[type="text"], .form-error input[type="text"] {
  border: 4px solid #b10e1e;
}

.js-form-error textarea, .form-error textarea {
  border: 4px solid #b10e1e;
}

.js-form-error .validation-message, .form-error .validation-message {
  border: none;
  padding: 0;
  padding-bottom: 5px;
}

.js-form-error, .form-error {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.3157894737;
  font-weight: 400;
  text-transform: none;
  font-weight: bold;
  color: #b10e1e;
}

@media (max-width: 640px) {
  .js-form-error, .form-error {
    font-size: 16px;
    line-height: 1.25;
  }
}
