.filters-showing::before {
  content: "\002d ";
}

.filters-hidden::before {
  content: "\002b ";
}

.clear {
  vertical-align: bottom;
}

.options-hidden::before {
    content: "+ ";
}

.options-showing::before {
    content: "- ";
}

.filterlink, .optionlink {
  margin-left: -10px;
}