.search-box-container{
  #reference-search-text {
    height: 34px;
    width: 500px;
    margin-top:1px;
    padding: 0;
  }

  #search-submit{
    background: $black  url('/ejs-tracker/images/search-button.png') no-repeat 4px 50%;
    height: 38px;
    width: 40px;
    border: 0;
    margin-left: -4px;
    text-indent: -5000px;
  }
}